.temp1, .temp2, .temp3 { height:500px; }
.temp1 { background-color:purple }
.temp2 { background-color:blue }
.temp3 { background-color:green }

.user-status {
    border-left: 10px solid grey;
}
.user-status.user-status-online {
    border-left-color: green;
}

.user-shell-selected, .request-summary-shell-selected {
    background-color: #f0f7fd;
}

.request-holder-outer {
    position: relative;
}
.request-detail-holder-outer {
    background-color: #f0f7fd;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc( 83.33333% - 105px );
}


.request-summary-item-holder-enter, .request-user-item-holder-enter {
    background-color: #F8F5EC;
    transition: background-color .5s ease-in;
}

.request-summary-item-holder-enter.request-summary-item-holder-enter-active,
.request-user-item-holder-enter.request-user-item-holder-enter-active {
    background-color: transparent;
}


.request-summary-item-holder-leave, .request-user-item-holder-leave {
    opacity: 1;
    transition: opacity 0.05s ease-in;
}

.request-summary-item-holder-leave.request-summary-item-holder-leave-active,
.request-user-item-holder-leave.request-user-item-holder-leave-active {
    opacity: 0.01;
}

.tab-pane > table {
    border-spacing: 10px;
    border-collapse: separate;
}
