.temp1, .temp2, .temp3 { height:500px; }
.temp1 { background-color:purple }
.temp2 { background-color:blue }
.temp3 { background-color:green }

.user-offline, .user-online {
    border-left: 10px solid grey;
}
.user-online {
    border-left-color: green;
}

/*
.example-enter {
    background-color: transparent;
    transition: background-color .5s ease-in;
}

.example-enter.example-enter-active {
    background-color: yellow;
}
*/

.request-entry-item-holder-enter {
    background-color: #F8F5EC;
    transition: background-color .5s ease-in;
}

.request-entry-item-holder-enter.request-entry-item-holder-enter-active {
    background-color: transparent;
}
